* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    color: red;
}

header{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 15vh;
    background: yellow;
    align-items: center;
}


footer{
    width: 100%;
    height: 10vh;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}