body {
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    background: #f2f2f2;
}

#container {
    width: 960px;/*720 85% px layout de largura fixa usa px o liquido usa %*/
    margin: 0 auto;
    background: #fff url(arquivos-necessarios-coluna-falsa/coluna.png) repeat-y left top;
    min-width: 820px; /*difinir o tamanho minimo para os conteudos
                        nao sair dos devidos lugares*/
    max-width: 1280px;
}

#marca {
    width: 100%;
    height: 200px;
    background: #225992 url(arquivos-necessarios-coluna-falsa/cabecalho2.jpg) no-repeat center;
    text-align: center;
    line-height: 200px;
}

/*#imagem {
    width: 90%;
    overflow: hidden; PARA CORTA A IMAGEM SE FOR MAIOR Q O ESPAÇO
}*/

img.img-noticia {
    width: 94%;
    padding: 2%;
    max-width: 600px;
}

#conteudo {
    width: 75%;/*520px ->74.28*/
    float: right;
}

#navegacao {
    width: 23%;/*180 -> 25.71 */
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    /*background: #d1d1d1;*/
}

#conteudo-principal {
    width: 63%; /*320 -> 64 */
    float: left;
}

#conteudo-secundario {
    width: 34%;/*180 -> 36 */
    float: right;
    background: #d1d1d1;
}

#navegacao ul {
    list-style: none;
}

#navegacao ul a {
    text-decoration: none;
}

#rodape {
    clear: both;
    background:#c4c4c4;
    padding: 5px;
    text-align: center;
}