html, body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


.top {
    width: 100%;
    height: 100vh;
    background-image: url(../img/genshin_11_4K.jpg);
    background-repeat: no-repeat;
    padding-top: 48px;
    background-size: cover;
    min-width: 1395px;
}

div.display {
    display: flex;
    justify-content: space-between;
    min-width: 1200px;
}

img.logo {
    margin-left: 54px;
}

div.buttons {
    width: 337px;
    margin-right: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 a.buttom1 {
    font-family: sans-serif;
    border: 1px solid;
    height: 48px;
    text-align: center;
    width: 160px;
    border-radius: 5px;
    color: rgb(145, 189, 226);
    background-color: #0b0546;
    line-height: 47px;
    opacity: 0.9;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: bold;
 }

 a.buttom2 {
    font-family: sans-serif;
    border: 1px solid;
    height: 48px;
    text-align: center;
    width: 160px;
    border-radius: 5px;
    color: rgb(145, 189, 226);
    background-color: #0a053f;
    line-height: 47px;
    opacity: 0.9;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: bold;
 }

 a.buttom1:hover, a.buttom2:hover  {
    border: 1px solid;
    color: rgb(145, 189, 226);
    background-color: #0b0546;
    transition: all 0.3s;
    opacity: 1;
 }

 div#imagens {
    min-width: 1200px;
    width: 100%;
    height: 66vh;
 }

 div.imagem1 {
    background-image: url(../img/da831d0c3f0494309f781c0af35ed878_8481869118923225649.png);
    background-repeat: no-repeat;
    height: 67vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-position: center;
 }

 div.imagem1 a i {
    color: #fff;
    font-size: 54px;
    background: rgb(78, 90, 75);
    border-radius: 100%;
 }

 div.imagem1 a i:hover {
    color: #000;
    opacity: 0.3;
    background: #fff;
    border-radius: 100%;
    transition: all 0.4s;
 }

 div.imagem2 {
    background-image: url(../img/fb351287cfbc262c47793585108644ab_608141484480652952.png);
    height: 43vh;
    background-size: cover;
    margin-top: -117px;
 }

/********************LIST**********************/

.borda {
    background-image: url(../img/36841e16b442b088ecc6da64952b1fd9_2507081675898911381.png);
    height: 48vh;
    min-width: 1340px;
    background-position: top;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2.info {
    font-size: 60px;
    text-align: center;
    color: #7c77b8;
    user-select: none;
    margin-top: 89px
}

/*CARROSSEL/SLIDE*/

img.slide {
    width: 100%;
    height: 100%;
}

[type=radio] {
    display: none;
}

#slider{
    margin: 0 auto;
    width: 1143px;
    min-width: 1340px;
    min-height: 509px;
    height: 35vw;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

#slider label{
    margin: auto;
    width: 60%;
    height: 100%;
    border-radius: 4px;
    position: absolute;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: transform 0.4s ease;
}

#s1:checked ~ #slider4, #s2:checked ~ #slider5, 
#s3:checked ~ #slider1, #s4:checked ~ #slider2, 
#s5:checked ~ #slider3{
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    transform: translate3d(-30%,0,-200px);
    height: 426px;
}

#s1:checked ~ #slider5, #s2:checked ~ #slider1, 
#s3:checked ~ #slider2, #s4:checked ~ #slider3, 
#s5:checked ~ #slider4{
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(-15%,0,-100px);
    height: 426px;
}

#s1:checked ~ #slider1, #s2:checked ~ #slider2, 
#s3:checked ~ #slider3, #s4:checked ~ #slider4, 
#s5:checked ~ #slider5{
    box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
    transform: translate3d(0,0,0);
    height: 426px;
}

#s1:checked ~ #slider2, #s2:checked ~ #slider3, 
#s3:checked ~ #slider4, #s4:checked ~ #slider5, 
#s5:checked ~ #slider1{
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(121, 72, 72, 0.2);
    transform: translate3d(-15%,0,-100px);
    height: 426px;
}

#s1:checked ~ #slider3, #s2:checked ~ #slider4, 
#s3:checked ~ #slider5, #s4:checked ~ #slider1, 
#s5:checked ~ #slider2{
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    transform: translate3d(30%,0,-200px);
    height: 426px;
}

/*FINAL CARROSEL/SLIDE*/

.borda2 {
    display: flex;
    justify-content: center;
    min-width: 1348px;
}

ul#char {
    min-width: 1348px;
    min-height: 1100px;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1271px;
    margin: 0;
    padding: 0 0 0 69px;
}

li.char1 {
    height: 55vh;
    padding-right: 14px;
    padding-left: 14px;
    padding-bottom: 29px;
}

li.char1:hover {
    transition: all 1.0s;
    transform: translateY(-30px);
    background: linear-gradient(149deg,rgb(101, 101, 179), rgb(121, 107, 138), rgba(172, 162, 218,0.3));
    border-radius: 100%;
}

/*******************************************/

footer {
    display: flex;
    flex-direction: column;
    min-width: 1395px;
    background-color: #171618;
    height: 31vh;
}

div#rodape {
    display: flex;
    justify-content: center;
    margin-left: 43px;
    margin-right: 43px;
    border-bottom: #3f3d3d solid 2px;
}

div#rodape h2 i {
    margin: 0 10px 0 10px;
}

div#rodape h2 {
    font-weight: normal;
    font-size: 20px;
    color: #b9b8bd;
}

div#rodapeinfo {
    height: 24vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.align {
    width: 976px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/**********as imagens*********/
div.rodapeimg {
    width: 427px;
    height: 91px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 52px;
    color: #bfbfbf;
}

.img1 {
    height: 60px;
}

.img2 {
    height: 110px;
}
/******final as imagens*****/


/**********ao lado das images*****************/
div.rodapedt {
    width: 508px;
    height: 150px;
}

div.rodapedt p a {
    font-weight: normal;
    font-size: 20px;
    color: #b9b8bd;
}

div.rodapedt p {
    color: #bfbfbf;
}

div.rodapedt p.color {
    color: #fff;
    font-size: 16px;
}

